.btn-main-box {
  background: #02793f;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.cart-btn {
  width: 45%;

  height: 4rem;
}
.text-btn-bt {
  color: #02793f;
  margin-top: 1rem;
}

.box-btn-bt {
  background-color: #bdd235;
  margin: 2.5%;
}
