.btn-main-box {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.cart-btn {
  width: 48%;

  height: 4rem;
}
.text-btn-bt {
  color: #fff;
  margin-top: 1rem;
}

.box-btn-bt {
  background-color: #02793f;
  margin: 1%;
}
